<h2 class="text-center">Add Pet page</h2>

{{#if error1}}
   <h3 class="text-center"> {{error1}} </h3>
{{/if}}

<div class="d-flex align-items-center justify-content-center">
  <form action="/addPet" method="POST" id="addPet-form" name="lform" class="px-4 py-3 my-auto text-center">
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Pet Id: </span>
        <input id="petId" type="text" name="petId" placeholder="petId" readonly   value="{{petId}}" class="form-control" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Pet Name: </span>
        <input id="petName" type="text" name="petName" placeholder="pet name" value="{{petName}}" class="form-control" aria-describedby="basic-addon1">
    </div>

	<div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Pet Type: </span>
        <input list="petType" name="petType" value="{{petType}}" class="form-control" aria-describedby="basic-addon1">
        <datalist id="petType" >
            <option value="cat" >
            <option value="dog" >
        </datalist>
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Pet Color: </span>
        <input list="color" name="color" value="{{color}}" class="form-control" aria-describedby="basic-addon1">
    
        <datalist id="color" >
            <option value="black" >
            <option value="gray" ></option>
            <option value="red" ></option>
            <option value="golden" ></option>
            <option value="brown" ></option>
            <option value="white" >
        </datalist>
    </div>

	<div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Breed: </span>
        <input id="breed" type="text" name="breed" placeholder="breed" value="{{breed}}" class="form-control" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Pet Age: </span>
        <input id="age" type="number" name="age" placeholder="age in years" min="0" value="{{age}}" class="form-control" aria-describedby="basic-addon1">
    </div>

	<div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Pet Description: </span>
        <input id="description" type="text" name="description" placeholder="description" value="{{description}}" class="form-control" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Pet Image File Name: </span>
        <input id="img" type="text" name="img" placeholder="image file name jpeg" value="{{img}}" class="form-control" aria-describedby="basic-addon1">
    </div>

	<div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Price: </span>
        <input id="price" type="number" name="price" placeholder="price" min="0" value="{{price}}" class="form-control" aria-describedby="basic-addon1">
    </div>

	<div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Status: </span>
        <input list="status" name="status" value="{{status}}" class="form-control" aria-describedby="basic-addon1">
        <datalist id="status" >
            <option value="available" >
            <option value="sold" >
        </datalist>
    </div>
    
    <div class="d-grid gap-2 col-6 mx-auto">
        <button type="submit" name="submit" class="btn btn-primary">Update</button>
    </div>
    </form>
</div>



<br><br><br><br><br><br>

