<h2>Select a Pet page</h2>


{{#if img}}
    <img src="/public/images/{{img}}" alt="no_image" style="width:420px;height:420px;"> 
{{else}}
    <img src="/public/images/no_image.jpeg" style="width:420px;height:420px;">
{{/if}}

<br><br>

<form action="/selectaPet" method="POST" id="selectPet-form">
    <label for="petId">Pet Id</label>
    <input id="petId" type="text" name="petId" placeholder="petId" readonly   value="{{petId}}"  >

<br><br>

    <label for="petName">Pet Name</label>
    <input id="petName" type="text" name="petName" placeholder="petName"  readonly value="{{petName}}">
	
<br><br>

	<label for="petType">Pet Type</label>
    <input  list="petType" name="petType" value="{{petType}}"  readonly  >
	<datalist id="petType" >
		<option value="cat" >
		<option value="dog" >
	</datalist>
	
<br><br>

    <label for="color">Pet color</label>
    <input  list="color" name="color" value="{{color}}"  readonly  >
	<datalist id="color" >
		<option value="black" >
        <option value="gray" ></option>
        <option value="red" ></option>
        <option value="golden" ></option>
        <option value="brown" ></option>
		<option value="white" >
	</datalist>


	
<br><br>

	<label for="breed">Pet Breed</label>
    <input id="breed" type="text" name="breed" placeholder="breed" value="{{breed}}"  readonly >

<br><br>

    <label for="age">Pet Age in Years</label>
    <input id="age" type="number" name="age" placeholder="age" value="{{age}}"  readonly >
	
<br><br>

	<label for="description">Pet Description</label>
    <input id="description" type="text" name="description" placeholder="description" value="{{description}}"   readonly   >
	
<br><br>

    <label for="img">Pet Image File name </label>
    <input id="img" type="text" name="img" placeholder="image file name jpeg" value="{{img}}" readonly  >
<br><br>


 

	<label for="price">Pet Price</label>
    <input id="price" type="number" name="price" placeholder="price" value="{{price}}"  readonly  >
	
<br><br>

	<label for="status">Pet Status</label>
    <input  list="status" name="status" value="{{status}}"  readonly >
	<datalist id="status" >
		<option value="available" >
		<option value="sold" >
	</datalist>

<br><br>	

{{#if available }}
    {{#each pay}}
    <br>
     <button type="Order{{@index}}" name="card" value="{{@index}}" >Order with Payment card  {{@index}} from bank  {{this}}</button>
    <br>
    {{/each}}

{{ else }}
  <h3> Not Available </h3>
{{/if }}

</form>
<br>
<a href="/main"> Back to main</a>
<br>
<br>
{{#if error1}}
   <h3> {{error1}} </h3>
{{/if}}

