<h2>Show Order page</h2>
<p>UserId: {{userId}}</p>


<h3> OrderId -  {{transId}}</h3>
<h3> PetId -  {{petId}}</h3>
<h3> Pet name - {{petName}}</h3>
<h3> Pet price - {{petPrice}} </h3>
<br>
<h3>Order Status - {{status}}</h3>

<form action="/selectOrder" method="POST" id="selectOrder-form">

<label for="transId">Transaction ID</label>
<input id="transId" type="text" name="transId"  readonly value="{{transId}}">

<br><br>

<label for="status">Order</label>
    <input  list="status" name="status" value="{{status}}"  >
	<datalist id="status" >
		<option value="billed" >
		<option value="delivered" >
      <option value="refunded" ></option>  
	</datalist>

<br><br>

   <button type="submit">Submit</button>
</form>

<br><br>
<a href="/main"> Back to main</a>
<br>
<br>
{{#if error1}}
   <h3> {{error1}} </h3>
{{/if}}

