<h2> Update Pet List page</h2>

<ul class="petList"></ul>
{{#each petSearchArray}}
	<li>
		{{#if img}}
	   	<a href="./updatePet/{{this.petId}} ">Click for {{this.name}} age is {{this.age}} price {{this.price}}   
		   <img src="/public/images/{{img}}" alt="no_image" style="width:42px;height:42px;"> </a>
	   	{{else}}
	    <a href="./updatePet/{{this.petId}} ">Click for {{this.name}} age is {{this.age}} price {{this.price}}   
			<img src="/public/images/no_image.jpeg" style="width:42px;height:42px;"></a>
	   	{{/if}}
	</li>
{{/each}}
</ul>


<br>
<a href="/main"> Back to main</a>
<br>
<br>
{{#if error1}}
   <h3> {{error1}} </h3>
{{/if}}

