<h2>Search Pet page</h2>

<form action="/searchPet" method="POST" id="searchPet-form">

<br><br>

	<label for="type">Pet Type</label>
    <input  list="type" name="type" value="{{type}}"  >
	<datalist id="type" >
		<option value="cat" >
		<option value="dog" >
	</datalist>
	
<br><br>

    <label for="color">Pet color</label>
    <input  list="color" name="color" value="{{color}}"  >
	<datalist id="color" >
		<option value="black" >
        <option value="gray" ></option>
        <option value="red" ></option>
        <option value="golden" ></option>
        <option value="brown" ></option>
		<option value="white" >
	</datalist>

<br><br>

    <label for="age">Max Pet Age in Years</label>
    <input id="age" type="number" name="age" placeholder="age" value="{{age}}" >
	
<br><br>

	<label for="price">Max Pet Price</label>
    <input id="price" type="number" name="price" placeholder="price" value="{{price}}" >
	
<br><br>

	<label for="status">Pet Status</label>
    <input  list="status" name="status" value="{{status}}" >
	<datalist id="status" >
		<option value="available" >
		<option value="sold" >
	</datalist>

<br><br>	
	
    <button type="submit">Submit</button>
</form>
<br>
<a href="/main"> Back to main</a>
<br>
<br>
{{#if error1}}
   <h3> {{error1}} </h3>
{{/if}}

