<h2>Show Order page</h2>
<p>UserId: {{userId}}</p>


<h3> OrderId -  {{transId}}</h3>
<h3> PetId -  {{petId}}</h3>
<h3> Pet name - {{petName}}</h3>
<h3> Pet price - {{petPrice}} </h3>
<br>
<h3>Order Status - {{status}}</h3>


<br>
<a href="/main"> Back to main</a>
<br>
<br>
{{#if error1}}
   <h3> {{error1}} </h3>
{{/if}}

